<div>
    <h1 class="text-lg font-bold">About</h1>
    <p>Lorem ipsum dolor, <span highlight>amet consectetur adipisicing elit.</span> Consequatur velit ducimus quis
        optio hic facere quasi,
        corrupti officia maxime consequuntur a quas, quo mollitia consectetur omnis, delectus qui natus. Porro.</p>
    <div class="text-sm">
        <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
    @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()" />
    }
</div>